@import "../node_modules/@syncfusion/ej2-react-image-editor/styles/bootstrap-dark.css";

:root {
  --tg-theme-bg-color: #000;
  --tg-theme-text-color: #fff;
}

#search:focus-within svg {
--at-apply: text-amber-300;
}
